{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="container py-5">

		<div class="row justify-content-center">

			<div class="col-md-6 border rounded p-5">

				<h1 class="mb-4 text-center">Réinitialisation de votre mot de passe</h1>

				<div class="form-group">
				<h4 class="text-center">Votre mot de passe à bien été mis à jour</h4>
				</div>
			</br>

			<div>
				<a class="row justify-content-center" href="">Retourner à la page de connexion Scriptorium</a>
			</div>

		</div>
	</div>
</div>{% endblock %}
