{% extends 'base.html.twig' %}

{% block CSS %}
	<style>

		@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

		body {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 1.5;
			margin: 0;
			padding: 0;
		}

		.wrapper {
			background-color: #f5f5f5;
			margin: 0 auto;
			max-width: 600px;
			padding: 20px;
		}

		.header {
			background-color: #fff;
			border-bottom: 1px solid #ddd;
			padding: 20px;
		}

		.content {
			background-color: #fff;
			padding: 20px;
		}

		.footer {
			background-color: #fff;
			border-top: 1px solid #ddd;
			padding: 20px;
			text-align: center;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="header">
			<h1>Activation de compte Scriptorium</h1>
		</div>
		<div class="content">
			<p>Bonjour {{ user.pseudo }},</p>
			<p>Merci d'avoir créé un compte utilisateur sur notre site. Pour activer votre compte et accéder à votre interface utilisateur, veuillez cliquer sur le lien ci-dessous :</p>
			<p>
				<a href="{{ link }}">Valider mon compte</a>
			</p>
			<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>
		</div>
		<div class="footer">
			<p>Cet email est envoyé automatiquement, merci de ne pas y répondre.</p>
		</div>
	</div>
{% endblock %}
