{% extends 'base.html.twig' %}

{% block CSS %}
<style>
</style>
{% endblock %}

{% block body %}
	<body>
		<div class="container py-5">

			<div class="row justify-content-center">

				<div style="background-color: #0D1717; color: #FFF; font-family: 'Glass Antiqua', cursive;" class="col-md-6 border rounded p-5">
					<div class="form-group">
						<h1 class="mb-4 text-center">Activation de compte Scriptorium</h1>
					</div>

					<div class="form-group">
						<p>Bonjour
							{{ user.pseudo }},</p>
						<p>Merci d'avoir créé un compte utilisateur sur notre site. Pour activer votre compte et accéder à votre interface utilisateur, veuillez cliquer sur le lien ci-dessous :</p>
						<p class="text-center">
							<a class="btn btn-light" href="{{ link }}">Valider mon compte</a>
						</p>
						<p class="mt-5">Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>
					</div>
				</div>
				<div class="text-center">
					<p class="text-center text-sm">Cet email est envoyé automatiquement, merci de ne pas y répondre.</p>
				</div>
			</div>
		</div>
	</body>

{% endblock %}
